.fightarea {
    display: flex;
    gap: 20px;
}

#char,
#monster {
    flex: 1;
}

.lifebar {
    height: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

.lifebar .bar {
    height: inherit;
    background-color: red;
    border-radius: 5px;
}

.log {
    height: 200px;
    border: 1px solid rgba(50,50,50,0.5);
    overflow-y: scroll;
}